<div class="page-header">
  <%= link_to new_post_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Post
  <% end %>
  <h1>Listing posts</h1>
</div>



<%= content_tag_for(:div, @posts, class: 'panel panel-default') do |post| %>
<div class="panel-heading">
  <h3 class="panel-title">
    <%= link_to post.title, post %>
  </h3>
</div>
<%= simple_format post.body %>

<div class="panel-footer">
  Created <%= time_ago_in_words post.created_at %> ago, last updated
  <%= time_ago_in_words post.updated_at %> ago.
  <% if post.user %>
  Author: <%= post.user.email %>
  <% end %>
</div>
<% end %>
