<div class="page-header">
  <%= link_to posts_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_post_path(@post), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show post</h1>
</div>

<dl class="dl-horizontal">
  <dt>Title:</dt>
  <dd><%= @post.title %></dd>

  <dt>Body:</dt>
  <dd><%= @post.body %></dd>

</dl>

<h3>Comments</h3>
<%= content_tag_for :div, @comments, class: 'panel panel-default' do |comment| %>
<div class="panel-heading">
  <h3 class="panel-title">
    <%= comment.title %>
  </h3>
</div>
<%= simple_format comment.comment %>

<div class="panel-footer">
  Posted <%= time_ago_in_words comment.updated_at %>
  <% if comment.user %>
  by <%= comment.user.email %>
  <% end %>
</div>

<% end %>

<%= simple_form_for [@post, @comment] do |f| %>
 <%= f.input :title %>
 <%= f.input :comment %>
 <%= f.button :submit %>
<% end %>
